@font-face {
  font-family: "Roboto";
  src: url(../assets/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: Roboto, monospace, sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  user-select: none;
  text-transform: uppercase;
  font-size: 4vw;
}

main {
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
}

.results {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto 20vw auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
}

.result-empty {
  grid-row: span 3;
}

.result-percentage {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.result-circle {
  width: 100%;
  height: 100%;
}

.result-label {
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.option-label,
.option-question {
  font-size: 1.25rem;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.summary,
.novote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 100%;
  font-size: 1.25rem;
  overflow: hidden;
}
