main {
  height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

#questions {
  overflow-y: scroll;
}

#results {
  height: 100%;
}

#results :last-child {
  flex-grow: 1;
}

.cards-container {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.cards-container > * {
  flex-grow: 0;
  padding: 1rem;
  border: 1px solid;
  border-radius: 5px;
}

.question {
  display: flex;
  flex-direction: column;
}

.question-body {
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.controls {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  padding: 0.5rem 1rem;
}
